/* The CSS code you provided is defining the styles for various elements in a web page. Here is a
breakdown of what each part of the code is doing: */
/* The `.header` selector is targeting an HTML element with the class "header" and applying the
following styles to it: */
.header{
    width: 100%;
    height: 76px;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content{
    padding: 0 18px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .linkPainel {
   text-decoration: none;

}
.linkButton{
    text-decoration: none;
}
.logo{
    color: white;
    font-size: 32px;
}
.content h1 span{
    color: rgba(255, 0, 0, 0.911);
    padding-left: 2px;
}
.loginButton{
    background: transparent;
    border: 1px solid;
    padding: 8px 32px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
}
.OutButton .loginButtonA {
    background: transparent;
    background: transparent;
    border: 1px solid;
    padding: 8px 32px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
    margin-right: 20px;
}
.loginButton:hover{
    background-color: #fff;
    color: #0f0f0f;
    font-weight: bold;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkButton{
    margin-left: 20px;
}
.linkButton span{
    background: transparent;
    background-color: white;
    padding: 8px 32px;
    border-radius: 6px;
    color: black;
    cursor: pointer;
    transition: all 0.5s;

}
